@import  'https://maxcdn.bootstrapcdn.com/bootstrap/4.2.0/css/bootstrap.min.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Table-Top {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Header-Text {
  font-size: 30px;
}

.Table-Below {
  margin-top: 20px;
}

.Header-Button {
  min-width: 40%;
  margin: 10px;
}

.Header-No-Button {
  min-width: 45%;
  margin: 10px;
}

.Error-Msg {
  text-align: center;
  margin-top: 20px;
}

.Button-Group {
  margin: 10px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Button-Left {
  margin-right: 10px;
}

.Button-Width {
  width: 70px;
}

.TextBox-Width {
  max-width: 70px;
}

.Header-Label {
  font-size: 20px;
}

.Form-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.Form-Card {
  width: 45%;
}

.Separator {
  padding-left: 5px;
}

.Line-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.Label-Width {
  min-width: 50%;
}

.Input-Width {
  min-width: 48%;
}

.Center-Item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Loader {
  margin-left: 10px;
  height: 20px;
  width: 20px;
}

.navbar {
  position: fixed;
  min-width: 100%;
}

.content {
  padding-top: 64px;
}

.Two-Buttons {
  min-width: 142px;
}

.Button-Bottom {
  margin-top: 10px;
  max-width: 142px;
}